.contact-form .form-control.error {
  border-color: #FF313F;
  color: #FF313F;
}
.contact-form .form-control.error::-webkit-input-placeholder {
  color: #FF313F;
}
.contact-form .form-control.error:-moz-placeholder {
  /* Firefox 18- */
  color: #FF313F;
}
.contact-form .form-control.error::-moz-placeholder {
  color: #FF313F;
}
.contact-form .form-error-message {
  color: #FF313F;
}
.submit-success {
  display: none;
}
.submit-success .submit-success-msg {
  margin: 12px 0;
}
