@font-face {
  font-family: Source;
  font-weight: 400;
  src: url(../fonts/SourceSerifProregular.ttf) format("truetype");
}
@font-face {
  font-family: Source;
  font-weight: 700;
  src: url(../fonts/SourceSerifPro700.ttf) format("truetype");
}
@font-face {
  font-family: Gilroy;
  font-weight: 400;
  src: url(../fonts/Gilroy-Regular.otf) format("opentype");
}
@font-face {
  font-family: Gilroy;
  font-weight: 700;
  src: url(../fonts/Gilroy-Bold.otf) format("opentype");
}
body {
  font-family: 'Gilroy', serif;
  font-size: 18px;
  line-height: 28px;
  color: #333;
  margin: 0;
}
h1,
h2,
h3 {
  font-family: 'Gilroy', serif;
  font-weight: 700;
}
h3 {
  text-transform: uppercase;
}
strong {
  font-weight: bold;
}
p {
  margin: 24px 0;
  font-family: 'Source', serif;
  font-style: normal;
}
.title-top {
  width: 520px;
  height: 1px;
}
a {
  color: #FF313F;
  text-decoration: none;
}
a:hover {
  border-bottom: 2px #FF313F solid;
}
nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  font-size: 18px;
  overflow: hidden;
  font-weight: 600;
  z-index: 1000;
}
.logo img {
  height: 32px;
}
.logo a:hover {
  border-bottom: 4px solid #FF313F;
  font-weight: bold;
  padding-bottom: 2px;
}
nav .subnav a {
  color: #FF313F;
}
nav .subnav a:hover {
  color: #FF313F;
  border-bottom: 4px solid #FF313F;
  line-height: normal;
  padding-bottom: 2px;
}
.selected {
  color: #333;
  border-bottom: 4px solid #333;
  line-height: normal;
  padding-bottom: 2px;
}
.selected:hover {
  cursor: default;
}
form {
  display: flex;
  flex-direction: column;
}
input,
textarea {
  border-radius: 3px;
  color: #333;
  padding: 18px;
  margin-bottom: 12px;
  display: block;
  width: 400px;
  border: 1px solid #eee;
  font-size: 16px;
  font-family: 'Gilroy', serif;
  letter-spacing: 1px;
}
textarea {
  height: 100px;
}
input:focus,
textarea:focus {
  border-radius: 2px;
  color: #333;
  padding: 18px;
  margin-bottom: 12px;
  width: 400px;
  outline: none;
  border: 1px solid #ddd;
}
button {
  border: 0;
  padding: 18px 32px;
  border-radius: 4px;
  font-weight: normal;
  font-size: 16px;
  color: white;
  background-color: #FF313F;
}
button:hover {
  cursor: pointer;
}
button:focus {
  outline: none;
  color: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.top-bar {
  height: 6px;
  width: 100%;
  position: fixed;
  z-index: 100;
  /*display:none;*/
}
/*controls to individually control position of each video*/
.facebook img {
  width: 69vw;
}
.gmail video {
  position: absolute;
  width: 13.9vw;
  margin-top: 2.8vw;
  margin-left: .56vw;
  border-radius: 4px;
}
.crew video {
  width: 70vw;
}
.diva video {
  position: absolute;
  width: 13.9vw;
  margin-top: 5.2vh;
  margin-left: 0.56vw;
  border-radius: 4px;
}
.card {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
/*studio*/
.card-studio-col {
  margin-left: 10%;
  width: 50%;
}
@media (max-width: 599px) {
  .card-studio-col {
    margin-left: 4%;
    margin-right: 4%;
    width: 100%;
  }
}
.card-studio-col-2 {
  margin-left: 10%;
  width: 25%;
}
@media (max-width: 599px) {
  .card-studio-col-2 {
    margin-left: 4%;
    margin-right: 4%;
    width: 100%;
  }
}
.card-studio-col:last-child {
  margin-left: 0;
  margin-right: 10%;
}
@media (max-width: 599px) {
  .card-studio-col:last-child {
    margin-left: 4%;
    margin-right: 4%;
    width: 100%;
  }
}
.card-studio-col-2:last-child {
  margin-left: 0;
  margin-right: 10%;
}
@media (max-width: 599px) {
  .card-studio-col-2:last-child {
    margin-left: 4%;
    margin-right: 4%;
    width: 100%;
  }
}
.black {
  color: #333;
}
footer {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.intro {
  margin: 0 10%;
}
.fadein {
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -o-animation: fadein 2s;
  /* Opera */
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.values {
  display: flex;
  padding: 32px 0 64px 0;
}
@media (max-width: 599px) {
  .values {
    flex-direction: column;
    width: 90%;
  }
}
.team {
  display: flex;
  flex-direction: row;
  padding: 0 10%;
  flex-wrap: wrap;
  align-content: flex-start;
}
.team-text {
  width: 36%;
  padding-left: 10%;
}
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28%;
  text-align: center;
  margin-right: 5%;
  margin-top: 2%;
}
.profile-pic {
  width: 160px;
  height: 160px;
  border-radius: 80px;
}
.project-list {
  display: flex;
  flex-direction: column;
  margin: 10%;
}
.project-row {
  font-family: 'Source', serif;
  border-top: 1px solid #ddd;
}
.project-item {
  padding: 16px 0 16px 0;
}
.project-meta {
  font-family: 'Gilroy', serif;
  text-transform: uppercase;
  font-size: 14px;
}
.divider {
  width: 42px;
  height: 4px;
  background-color: #ccc;
}
table {
  width: 100%;
  text-align: left;
}
table h3 {
  font-family: 'Gilroy', serif;
  font-weight: 600;
  padding-top: 0;
  text-transform: none;
}
.right {
  text-align: right;
}
td:nth-child(2) {
  font-size: 16px;
}
a img {
  margin-bottom: -1px;
}
.card-home-image-left {
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.1));
}
.card-home-image-right {
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.1));
}
