@font-face {
  font-family: Source;
  font-weight: 400;
  src: url(../fonts/SourceSerifProregular.ttf) format("truetype");
}
@font-face {
  font-family: Source;
  font-weight: 700;
  src: url(../fonts/SourceSerifPro700.ttf) format("truetype");
}
@font-face {
  font-family: Gilroy;
  font-weight: 400;
  src: url(../fonts/Gilroy-Regular.otf) format("opentype");
}
@font-face {
  font-family: Gilroy;
  font-weight: 700;
  src: url(../fonts/Gilroy-Bold.otf) format("opentype");
}
