
@font-face {
    font-family: Sectra;
    font-weight:700;
    src: url(../fonts/GT-Sectra-Bold.otf) format("opentype");
}
@font-face {
    font-family: Sectra;
    font-weight:400;
    src: url(../fonts/GT-Sectra-Bold.otf) format("opentype");
}


@font-face {
    font-family: Playfair;
    font-weight:700;
    src: url(../fonts/PlayfairDisplay-Black.ttf) format("truetype");
}


@font-face {
    font-family: Caslon;
    font-weight:800;
    src: url(../fonts/caslon-black.ttf) format("truetype");
}



@font-face {
    font-family: Source;
    font-weight:400;
    src: url(../fonts/SourceSerifProregular.ttf) format("truetype");
}

@font-face {
    font-family: Source;
    font-weight:700;
    src: url(../fonts/SourceSerifPro700.ttf) format("truetype");
}




@font-face {
    font-family: Gilroy;
    font-weight:400;
    src: url(../fonts/gilroy-regular.otf) format("opentype");
}
